section {
  padding-top: 50px;
}
h3  {
  color: black;
}
body {
  background-color: white !important;
}
.heading {
  font-family: 'Open Sans',sans-serif;
  font-weight: 300;
  font-size: 32px;
  color: #000;
  text-align: center;
  line-height: 33px;
}
.sub-heading {
  font-family: 'Open Sans',sans-serif;
  font-weight: 100;
  font-size: 23px;
  color: #000;
}
p, section ul {
  font-family: 'Open Sans',sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #444444;
  line-height: 30px;
}
.heading {
  margin-bottom: 4%;
}
.navbar-default {
  background-color: white !important;
}
.navbar li a {
  color: #A6A6A6 !important;
  font-style: normal;
  line-height: 1.5;
  text-transform: uppercase;
  color: #A6A6A6;
  font-weight: 500;
  display: block;
  letter-spacing: 0.8px;
  font-size: 12px;
  text-decoration: none;
}
.navbar li a:hover {
  color: black !important;
}
.navbar .navbar-toggle .icon-bar {
  background-color: inherit;
  border: 1px solid;
}
.navbar .navbar-toggle .icon-bar {
  border: 1px solid black !important;
}
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 1%;
  margin-bottom: 2%;
  padding: 7px;
  text-align: right;
}
.footer:hover {
  background-color: white;
  border-radius: 50%;
}
.jump {
  color: black !important;
  outline: 0 !important;
}
.brand {
  font-weight: bold !important;
  letter-spacing: 2px !important;
}

.main {
  padding: 0px !important;
}
section {
  padding-left: 50px;
  padding-right: 50px;
}

#contact-us {
  font-family: 'Open Sans',sans-serif !important;
  padding-bottom: 30px;
}
#contact-us, #contact-us p {
  background-color: #2b334f;
  color: white !important;
  font-weight: 500 !important;
}
#contact-us .col-md-5, #contact-us .col-md-4 {
  margin-top: 50px;
}
#contact-us a {
  text-decoration: blink;
}

.our-team{
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.our-team:before,
.our-team:after{
    background: #00bed3;
    position: absolute;
    z-index: -1;
}
.our-team .pic{
    margin-bottom: 20px;
    position: relative;
    transition: all 0.5s ease 0s;
}

.our-team .pic:after{
    content: "";
    width: 100%;
    height: 0;
    background: #33343e;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform-origin: 0 0 0;
    transition: all 0.5s ease 0s;
}
.our-team:hover .pic:after{
    height: 100%;
    opacity: 0.5;
}
.our-team img{
    width: 100%;
    height: auto;
}
.our-team .team-content{
    width: 100%;
    position: absolute;
    top: -50%;
    left: 0;
    transition: all 0.5s ease 0.2s;
}
.our-team:hover .team-content{
    top: 38%;
}
.our-team .title{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}
.our-team .post{
    font-size: 14px;
    color: #fff;
    line-height: 26px;
    text-transform: capitalize;
}

/*read more
*/
.our-team .read-more{
    width: 100px;
    padding: 0 15px 15px 0;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.35px;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
    font-family: Sniglet;
    transform: translate3d(20px, 20px, 0px);
    transition: all 0.35s ease 0s;
}
.our-team:hover .read-more{
    opacity: 0.85 !important;
    transform: translate3d(0px, 0px, 0px);
}
.our-team a {
  text-decoration: none !important;
  outline: 0;
}

@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}

#home {
  min-height: 600px;
}
#home h1 {
  font-family: 'PT Sans', sans-serif !important;
  text-align: center;
}
.logo {
  margin-top: -20px ;
}
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.aboutus-box {
  background: #DC005A;
  color: #fff;
  padding: 65px 85px;
  margin: 0 -15px;
  overflow: hidden;
}
.aboutus-box p {
  color: #fff;
  font-size: 14px;
  line-height: 29px;
  margin-bottom: 30px;
  font-family: "Open Sans",Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.aboutus-box .line {
  border: 1px solid;
  display: block;
  width: 20%;
  margin: 20px 0;
}
.aboutus-box.purple {
  background: #7A4B94;
}
.aboutus-box.black {
  background: #2A3636;
}
#about-us .row {
  margin-right: -70px;
  margin-left: -70px;
}
.aboutus-box .content h3 {
  font-family: "Open Sans",Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
}
.aboutus-box .content a {
  background: hsla(0, 0%, 0%, 0) none repeat scroll 0 0;
  border: 2px solid hsl(0, 0%, 97%);
  border-radius: 0;
  color: #fff !important;
  padding: 9px 17px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.2s ease 0s;
  font-family: "Open Sans",Helvetica, Arial, sans-serif;
}
.aboutus-box .content a:hover{
  background-color: hsl(0, 0%, 97%) !important;
  color: hsl(0, 0%, 20%) !important;
}
.aboutus-box .content a:hover i{
  opacity:0;
}
.aboutus-box .content .line{
  border: 1px solid;
  display: block;
  width: 20%;
  margin: 20px 0;
}
.aboutus-box .content a i{
  margin-left:6px;
  color: white;
}
.aboutus-box.pink .modal-content {
  background: #DC005A;
}
.aboutus-box.purple .modal-content {
  background: #7A4B94;
}
.aboutus-box.black .modal-content {
  background: #2A3636;
}
.about-us .modal-content p {
  letter-spacing: 1.5px;
}
#contact-us .heading {
  color: white;
}